version: "3"

services:
  web:
    container_name: web
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env

  mongodb:
    container_name: mongodb
    image: mongo:5
    ports:
      - "27017"
    volumes:
      - data:/bitnami/mongodb


volumes:
  data: